.orders {
    display: flex;
    justify-content: space-between
}

.ordersReady {
    width: 48%;
}

.ordersReady ul {
    color: rgba(0, 204, 204, 1);
    padding-left: 0;
    margin-top: 24px;
}

.ordersReady li {
    list-style-type: none;
    margin-top: 8px;
}

.ordersProgress {
    width: 48%;
}

.ordersProgress  ul {
    padding-left: 0;
    margin-top: 24px;
}

.ordersProgress  li {
    list-style-type: none;
    margin-top: 8px;
}

.all {
    margin: 60px 0;
}