.app {
  text-align: left;
}

main, header {
  width: 1240px;
  margin:  0 auto; 
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1240px) {
  main, header {
    width: 100%; 
  }
  main {
    flex-direction: column;
  }
}