.wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;   
    max-height: 90vh;
    overflow: auto;
    padding-right: 8px;
}

.wrap::-webkit-scrollbar {
    width: 8px;
  }
  
  .wrap::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  
  .wrap::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }