.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    text-align: center;
}

.calories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}

.calories p {
    text-align: center;
    color: #8585AD;
}