nav {        
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.left {
    display: flex;    
}

.icon {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: white;
}


